<link rel="stylesheet" type="text/css" href="/css/footer.css">

<footer class="footer-distributed">

    <div class="footer-right">

        <a href="mailto:contact@yourwebsite.com"><i class="fas fa-envelope"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="6265826331"><i class="fa fa-phone"></i></a>
        <a href="https://github.com/yuktagopalani/Software-Engineering-Project"><i class="fab fa-github"></i></a>

    </div>

    <div class="footer-left">
        <p>Copyright © 2021 Nova-Video Surveillance System.</p>
    </div>

</footer>

<!-- Bootstrap core JS-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>

</body>

</html>