<%- include('./partials/header') %>

<title>Nova- About</title>


<div class="about-container">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <div class="section-bg">
        <div class="f">
    <h1>About this System</h1>
    
    <br>
   
    <p>This website is meant for the people who want to keep an eye on their house when they are not present there. It is the best way to utilise your old phone or pc as a cctv-camera and your existing device to watch the view of your house. Nova offers you two different options which you can use to keep an eye on your house being at any remote location. First is to just place your old phone at the desired place of your home and just switch on the recording mode in it, Second is to track the home live from your existing device.</p>
    </div>
</div>
    <br>
    <div class="features">
    <h2>Features</h2>
    </div>
    <br>
    
    <ul>
        <li><h3>Recording Mode</h3></li>
        <p>One can use their old phone/pc as a cctv-camera by this feature. Just click on 'Start camera' and then on 'Record'. It will record the view it is been recieving and till then you can go to your nearby market or any other place. Whatever will be happening in your house will get captured into your device 😛. </p>
        <li><h3>Tracking Mode</h3></li>
        <p>This is a really cool feature, What you need to do is just open recording mode in your old phone then enter any random number(preferably long for privacy) and then click on record and then place the phone at a desired place of your phone. Now, open your existing phone or any other device and go under the recording mode into it and place the same number as entered before and finally click on "Track". And, you will be able to see the view captured by your old phone from your existing device. Now, You can just go any where without any worry because your eyes are still on your home 😉.</p>
    </ul>
    
    <br>
    <div class="better">
    <h2>For Better Experience</h2>
    </div>
    <br>
  
    <ul>
        <li>For Recording perpose use a device which has atleast 10-12 mega-pixels of camera.</li>
        <li>Ensure a high internet connection.</li>
        <li>Place your device sufficiently above and at 45 degree from the wall supporting it.</li> 
    </ul>
    
    <br>
</div>

<%- include('./partials/footer') %>