<%- include('./partials/header') %>

<title>Nova- About</title>


<div class="about-container">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
   
    <div class="section-bg">
       
        <div class="f">
            <h1>About this System</h1>
            <div class="row">
                <div class="column">
                    <img src="/assets/img/camera.png" alt="cam" style="width:100%">
                </div>
                <div class="column">
                    <div class="content">
                    <p>This website is meant for the people who want to keep an eye on their house when they are not present there. It is the best way to utilise your old phone or pc as a cctv-camera and your existing device to watch the view of your house. Nova offers you two different options which you can use to keep an eye on your house being at any remote location. First is to just place your old phone at the desired place of your home and just switch on the recording mode in it, Second is to track the home live from your existing device.</p>
                    </div>
                </div>
        
            </div>
    
    
    <!-- <br>
   
    <p>This website is meant for the people who want to keep an eye on their house when they are not present there. It is the best way to utilise your old phone or pc as a cctv-camera and your existing device to watch the view of your house. Nova offers you two different options which you can use to keep an eye on your house being at any remote location. First is to just place your old phone at the desired place of your home and just switch on the recording mode in it, Second is to track the home live from your existing device.</p> -->
    </div>
</div>
    <!-- <br> -->
    <div class="features">
    <h1>Features</h1>
    </div>
    <br>
    
    <div class="row">
        <div class="column">
        <center><h2>Recording Mode</h2></center>
        <div class="content">
        <p>One can use their old phone/pc as a cctv-camera by this feature. Just click on 'Start camera' and then on 'Record'. It will record the view it is been recieving and till then you can go to your nearby market or any other place. When you are back to home, you can click "Stop Recording" and here you go, whatever will be happening in your house will get captured into your device. You can also place it in your childrens study room and record the scene to see how much they are actually studing 😛. </p>
        <center><a class="button" href="/record">
            <b>Recording Mode</b> 
        </a>
    </center>
    </div>
    </div>
        <div class="column">
        <center><h2>Tracking Mode</h2></center>
        <div class="content">
        <p>This is a really cool feature, What you need to do is just open recording mode in your old phone then enter any random number(preferably long for privacy) and then click on record and then place the phone at a desired place of your house. Now, open your existing phone or any other device and go under the recording mode into it and place the same number as entered before and finally click on "Track". And, you will be able to see the view captured by your old phone from your existing device😉.</p>
        </div>
    </div>
    </div>
    <br>
    <div class="better">
    <h1>For Better Experience</h1>
    </div>
    <br>
    <div class="content">
    <ul>
        <li>For Recording perpose use a device which has atleast 10-12 mega-pixels of camera.</li>
        <li>Ensure a high internet connection.</li>
        <li>Place your device sufficiently above and at 45 degree from the wall supporting it.</li> 
    </ul>
    </div>
    
    <br>
</div>

<%- include('./partials/footer') %>