<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova | Video Recorder</title>

    <link rel="stylesheet" href="../css/recoder.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>

    <div class="container justify-content-centre" id="container">
        <video id="gum" playsinline autoplay muted></video>
        <video id="recorded" playsinline loop></video>
  
        <div class="btns">
          <button class="btn btn-success" id="start">Start camera</button>
          <button class="btn btn-primary" id="record" disabled>Record</button>
          <button class="btn btn-primary" id="play" disabled>Play</button>
          <button class="btn btn-warning" id="download" disabled>Download</button>
        </div>
  
        <div>
          <!-- <h4>Media Stream Constraints options</h4> -->
          <p>
            Echo cancellation: <input type="checkbox" id="echoCancellation" />
          </p>
        </div>
  
        <div>
          <span id="errorMsg"></span>
        </div>
    </div>

      <script src="../js/recorder.js"></script>
    
</body>
</html>