<%- include('./partials/header') %>

<title>Nova- Camera Mode | Record Video</title>

<link rel="stylesheet" type="text/css" href="/css/recorder.css">

<div class="container justify-content-centre" id="container">
    <video id="gum" playsinline autoplay muted></video>
    <video id="recorded" playsinline></video>

    <div class="btns">
      <button class="btn btn-success" id="start">Start camera</button>
      <button class="btn btn-primary" id="record" disabled>Record</button>
      <button class="btn btn-primary" id="play" disabled>Play</button>
      <button class="btn btn-primary" id="save" disabled>Save</button>
      <button class="btn btn-warning" id="download" disabled>Download</button>
    </div>

    <div>
      <h4>Media Stream Constraints options</h4>
      <p>
        Echo cancellation: <input type="checkbox" id="echoCancellation" />
      </p>
    </div>

    <div>
      <span id="errorMsg"></span>
    </div>
</div>


  <script src="/js/recorder.js"></script>

<%- include('./partials/footer') %>