body {
    background-color: rgb(160, 197, 252);
}

.inside_form {
    background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    font-family: 'Open Sans',sans-serif;
    width: 32%;
    max-width:525px;
	min-height:530px;
    margin: 8rem auto;
    display: flex;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inside_form form {
    width: 100%;
    height: 100%;
}

.inside_form .overlay {
    width: 100%;
    height: 100%;
    padding: 10%;
    position: absolute;
    background-color: rgba(40, 57, 101, .9);
    border-radius: 0.3rem;
}

.inside_form form h2 {
    margin-bottom: 1rem;
    color: white;
}

.inside_form form label {
    margin-bottom: 0rem;
    font-size: 13px;
    color: #AAAAAA;
}

.inside_form .form-control {
    border-radius: 2rem;
    padding: 15px 20px;
    height: 3rem;
    /* background-color: rgba(255,255,255,.1); */
}

.inside_form .button {
    border-radius: 2rem;
    width: 100%;
    border: none;
    padding: 12px 20px;
    background: #1161EE;
    /* z-index: 1; */
}

.inside_form .ForgotPassword {
    display: flex;
    justify-content: space-around;
}

hr {
    height: 1px;
    margin: 60px 0 50px 0;
    background:rgba(255,255,255,.2);
}