html {
    background: #F7F8F8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #ACBB78, #F7F8F8) fixed;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav #mainNav #navBar {
    margin: 0rem 10rem !important;
    height: 7rem;
}

#mainNav {
    padding: 1rem !important;
}

#mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    /* background-color: #000000; */
}

.navbar .navbar-brand {
    font-size: 2rem !important;
    margin-right: 10rem !important;
    padding-top: 0 !important;
    padding-right: 5rem !important;
    padding-bottom: 0 !important;
}

.navbar .navbar-brand:hover {
    color: #FFFFFFB3 !important;
}

.navbar .nav-item .nav-link {
    font-size: 1rem !important;
    font-weight: 80 !important;
}

@media (max-width:400px) {
    .navbar .navbar-brand {
        font-size: 2rem !important;
        margin-right: 1rem !important;
        padding-right: 0rem !important;
    }
}