@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.profile-container {
    background: #F7F8F8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #ACBB78, #F7F8F8) fixed;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-top: 1rem;
}

.course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 10rem 2rem;
    overflow: hidden;
    width: 65%;
}

.course-preview {
    /* width: 10%; */
    color: #fff;
}

.course-preview img {
    height: 230px;
    width: 220px;
}

.course-info {
    padding: 30px;
    /* width: 90%; */
}

.course .td-1 {
    padding-left: 2rem;
}

.course .td-3 {
    padding-left: 5rem;
}

.course table td {
    padding-bottom: 6px;
}

.col-md-3, .col-md-9 {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

@media (max-width: 900px) {
    .course {
        width: 80% !important;
    }
    .course .td-3 {
        padding-left: 2rem;
    }
}

@media (max-width: 768px) {
    .course {
        width: 50% !important;
    }
    .course-preview img {
        height: auto;
        width: 100%;
    }
    .course-info {
        font-size: 0.9rem !important;
    }
    .course .td-1 {
        padding-left: 1rem;
    }
    
    .course .td-3 {
        padding-left: 1rem;
    }
}

@media (max-width: 549px) {
    .course {
        width: 70% !important;
    }
    .course-info {
        font-size: 0.7rem !important;
    }
}

/*------------------recording Video Cards------------------*/

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 2rem;
}

h1 {
    padding-top: 35px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    font-family: "Aclonica", sans-serif;
}

#rec-frame {
    height: 280px;
    max-width: 100%;
    vertical-align: middle;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    width: 100%;
    display: flex;
    padding: 1rem;
    position: relative;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    /* height: 100%; */
    position: relative;
}

.card_content {
    padding: 1rem;
    background: #c6e0f5;
}

.card_title {
    color: #000000;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.main .card table .td3 {
    padding-left: 1rem;
}

.made_by {
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
}

hr.divider {
    max-width: 4rem;
    border-width: 0.16rem;
    border-color: #150666;
}

@media (min-width: 992px) {
    #mainNav {
        box-shadow: 0.3rem 0.3rem 0.7rem rgba(0, 0, 0, 0.418);
        background-color: rgb(12, 1, 70);
    }
    #mainNav.navbar-scrolled {
        box-shadow: 0.3rem 0.3rem 0.7rem rgba(0, 0, 0, 0.418);
    }
}