/* body{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #d3d3d3;
}

#gum, #recorded{
    margin-top: 55px;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.5);
}

.btns{
  margin-top: 50px;
}

button {
    margin: 0 3px 10px 0;
    padding: 6px;
  }
  
  button:last-of-type {
    margin: 0;
  }
  
  p.borderBelow {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
  }
  
  video {
    vertical-align: top;
    --width: 35vw;
    width: var(--width);
    height: calc(var(--width) * 0.5625);
  }
  
  video:last-of-type {
    margin: 0 0 20px 0;
  }
  
  video#gumVideo {
    margin: 0 20px 20px 0;
  }

  #echoCancellation{
      margin-top: 35px;
  }
   */

body{
    margin: 0;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    top: 0;
    width: 100%;
    z-index: 1;
    display: block;
    position: absolute;
    background-color: #444444;
    color: white;
   margin: 0;
   padding: 5px;
}

.entry-modal{
    border: 1px solid #444444;
    width: 300px;
    margin: auto;
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 70;
    margin-left: -150px;
    padding: 5px;
    color: #fff;
    background-color: #444444;
    text-align: center;
}

#notification{
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #fff;
    margin: 0;
    top: 47.33px;
    font-size: 18pt;
    width: 100%;
    background-color: orange;
}


.room-input{
  border: none;
  padding:5px;
}

div button{
    margin: 5px;
    padding: 5px;
}

#remote-video, #local-video{
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: lightgray;
    position: absolute;
}
@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}
#recordText{
 
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
    
}
/* #local-video{
    top: 60;
    width: 300;
    object-fit: cover;
    height: 150;
    z-index: 1;
    right: 15;
    background-color: #444444;
    position: absolute;
} */