body{
    margin: 0;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    top: 0;
    width: 100%;
    z-index: 1;
    display: block;
    position: absolute;
    background-color: #444444;
    color: white;
   margin: 0;
   padding: 5px;
}

.cam-1-2{
    margin-top: 0px;
}

.entry-modal1{
    border: 1px solid #444444;
    width: 300px;
    z-index: 0;
    position: absolute;
    left: 50%;
    top: 70;
    padding: 5px;
    color: #fff;
    background-color: #444444;
    text-align: center;
    margin-left: -30%;
    margin-right: 95%;
}

.entry-modal2{
    border: 1px solid #444444;
    width: 300px;
    z-index: 0;
    position: absolute;
    left: 50%;
    top: 70;
    padding: 5px;
    color: #fff;
    background-color: #444444;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
}


.entry-modal3{
    border: 1px solid #444444;
    width: 300px;
    z-index: 0;
    position: absolute;
    left: 50%;
    top: 70;
    padding: 5px;
    color: #fff;
    background-color: #444444;
    text-align: center;
    margin-left: -30%;
    margin-right: 95%;
    margin-top: 580px;
}

.entry-modal4{
    border: 1px solid #444444;
    width: 300px;
    z-index: 0;
    position: absolute;
    left: 50%;
    top: 70;
    padding: 5px;
    color: #fff;
    background-color: #444444;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 580px;
}

#notification{
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #fff;
    margin: 0;
    top: 47.33px;
    font-size: 18pt;
    width: 100%;
    background-color: orange;
}


.room-input1, .room-input2, .room-input3, .room-input4{
  border: none;
  padding:5px;
}

div button{
    margin: 5px;
    padding: 5px;
}

#remote-video1, #local-video1{
    height: 400px;
    width: 49%;
    z-index: 0;
    margin-right: 25%;
    margin-left: 1%;
    margin-top: 152px;
    background-color: rgb(110, 110, 110);
    position: absolute;
    border: #444444 solid 2px;
}

#remote-video2, #local-video2{
    height: 400px;
    width: 49%;
    z-index: 0;
    margin-left: 50%;
    margin-right: 1%;
    margin-top: 152px;
    background-color: rgb(110, 110, 110);
    position: absolute;
    border: #444444 solid 2px;
}

#remote-video3, #local-video3{
    height: 400px;
    width: 49%;
    z-index: 0;
    margin-right: 25%;
    margin-left: 1%;
    margin-top: 580px;
    background-color: rgb(110, 110, 110);
    position: absolute;
    border: #444444 solid 2px;
}

#remote-video4, #local-video4{
    height: 400px;
    width: 49%;
    z-index: 0;
    margin-left: 50%;
    margin-right: 1%;
    margin-top: 580px;
    background-color: rgb(110, 110, 110);
    position: absolute;
    border: #444444 solid 2px;
}
